#icon-img{
  width: 50px;
  height: 50px;
  justify-content: center;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    padding: 2em;
  }
  #headshot {
    margin-right: 4em;
  }
  h1 {
    vertical-align: middle;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    flex: 1 1 100%;
    text-align: center;
  }

  .main-colimn {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    justify-content: space-between;
    flex: 0 0 25%;
    margin: 1em;
  }
}
