/* Reset some default styles */
body,
h1,
h2,
p,
ul,
ol,
a,
nav {
  color: #000000;
  margin: 0;
  padding: 0;
}
h1 {
  color: #cecb28;
  text-shadow: #ffffff 0px 0px 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: grid;
  gap: 1em; /* Gap between items */
  padding-top: 5em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Set a background color for the entire page */
body {
  background-color: #c5c4c4;
  font-family: "Roboto", sans-serif;
}

#hero-img {
  background-image: url("../images/waterfall.webp");
  background-size: 101% 100%; /* This stretches the image to fit the full width and height */
  background-position: center; /* This centers the background image */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  margin: 10%;
  margin-left: 25%;
  margin-right: 25%;

  max-width: 100%;
  padding-top: 5em;
  padding-bottom: 15em;
  border: 5px solid #000000;
  border-radius: 15px;
}

/* Style the header */
header {
  grid-row: 1;
  grid-column: 2/5;
  color: #000000;
  text-align: center;
  padding: 2em;
}

nav ul {
  list-style-type: none;
}

nav a {
  color: #00ff0d;
  display: block;
  text-decoration: none;
  font-size: larger;
  font-family: "Kanit", sans-serif;
  padding: 1em;
}
.navigation > li {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

li {
  padding: 1em;
  margin-left: 2em;
}

nav a:hover {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

nav a:active {
  background-color: #00a8cc;
  color: #fff;
  border-radius: 10px;
}
h2 {
  color: #ff5733;
}

main {
  /*round off the background corners*/
  border-radius: 15px;
  padding-top: 1em;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-card {
  background-color: #fff;
  border: 1px solid #912626;
  position: relative;
}
/* This is the normal state for the <p> tag */
.main-card p {
  transform: scale(1); /* Default scale */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.side-card {
  background-color: #fff;
  border: 1px solid #912626;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  align-items: center;
}

.centered-picture {
  display: flex; /* Establishes flex container */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 300px; /* Set to your desired container height */
  width: 100%; /* Set to your desired container width */
  overflow: hidden; /* In case the image is larger than the container */
}

.centered-picture img {
  display: block; /* Remove inline-block whitespace */
  max-width: 100%; /* Ensures the image does not exceed the container width */
  max-height: 100%; /* Ensures the image does not exceed the container height */
}

picture {
  background-color: #000000;
}

/* Style individual sections */
section {
  background-color: #fff;
  border: 1px solid #912626;
  border-radius: 5px;
  margin: 20px;
}
section h2 {
  text-align: center;
  padding-bottom: 2em;
}

#weather-card {
  color: #ff5733;
  background-color: #fff;
  border: 1px solid #912626;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  height: 100%;
  text-align: center;
}
#weather-container {
  list-style: none;
}

/* Style the footer */
footer {
  background-color: #333;
  text-align: center;
  padding: 10px;
}
footer p {
  color: #ffffff;
}

@media (max-width: 771px) {
  .wrapper-item {
    grid-row: 1;
    grid-column: 1/2;
    padding-left: 2em;
  }


  #menu {
    font-size: 2rem;
  }
  #menu::before {
    content: "≡";
  }
  .navigation li {
    display: none;
  }
  .show li {
    display: block;
  }
  #menu.show::before {
    content: "❎";
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/background.webp");
  background-size: cover;
  background-position: center;
  z-index: -10;
}

form {
  margin: 10px 10px;
  text-align: left;
}

legend {
  margin: 20px;
}

label {
  display: var(--main-display);
  text-align: left;
  padding: 10px 20px;
}

input {
  display: var(--main-display);
  height: 25px;
  width: 300px;
  padding: var(--main-padding);
}

input#submitBtn {
  border: none;
  background: var(--main-btn-color);
  border-radius: 8px;
  text-align: center;
  line-height: 0px;
  margin-top: 5px;
  width: 100%;
  transition: 0.2s ease;
  background-color: #3fc653;
}

input#submitBtn:hover {
  background: #71ae7e;
  cursor: pointer;
}

#rangevalue {
  font-size: 2rem;
  color: navy;
}

#rangevalues {
  display: flex;
  margin: 0 0 0 25px;
  width: 200px;
}

#rangevalues option {
  flex: 1 1 auto;
  padding-left: 16px;
  margin: 1px;
}

select {
  display: var(--main-display);
  height: 25px;
  width: 300px;
  padding: var(--main-padding);
}

.membership-info h2 {
  text-align: center;
}

.membership-info p {
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

.grid section {
  text-align: center;
}

.grid img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
}

.grid section > * {
  margin: 0.1rem;
}

.grid h3 {
  font-family: "Caveat", cursive;
}

.list {
  display: flex;
  flex-direction: column;
}

.list section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 1rem;
  padding: 0.25rem;
}

.list section > * {
  margin: 1rem;
}

.list section img {
  display: none; /* smaller viewports only */
}

.list section h3 {
  font-size: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
  background-color: #bed;
}

section h3 {
  font-size: 1.5rem;
}

section p {
  font-weight: 600;
  font-size: smaller;
}

section a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.85rem;
  color: navy;
  letter-spacing: 1.1pt;
  padding: 1rem;
}

#directory-cards img {
  height: 300px;
  width: 300px;
  max-width: 100%; /* Images are jerks - Seattle*/
}

p {
  padding: 2rem;
}

h2 {
  padding-top: 1rem;
}
article section {
  height: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
article section li {
  list-style: none;
  word-wrap: break-word;
}
article section ul {
  width: 100%;
}
