

img {
    opacity: 0;
    background-color: rgb(0, 0, 0);
    animation: fadeAnimation 1.5s ease-in-out forwards;
}

@keyframes fadeAnimation {
    0% {
        color: rgb(0, 0, 0);
        opacity: 0;
        background-color: rgb(0, 0, 0);

    }

    100% {
        opacity: 1;
        background-color: transparent;
    }
}
img {
    animation-name: fadeAnimation;
    animation-duration: 10s; /* This means the animation will last 5 seconds */
    animation-timing-function: ease; 
    animation-fill-mode: forwards;
}