
/* color Boxes */
#ojBox {
    background-color: #ff5733;
    color: #f2f2f2;
  }
  #blueBox {
    background-color: #007bff;
    color: #f2f2f2;
  }
  #whiteBox {
    background-color: #f2f2f2;
    color: #808080;
  }
  