.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    max-width: 100%;
    max-height: 600px;
    border: black 10px solid;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: auto;
}

nav {
    background-color: #0D4C92;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    background-color: #fff;
    color: #0D4C92;
}

nav a:active {
    background-color: #092f5c;
    color: #fff;
}

main {
    margin: 0 auto;
    max-width: 800px;
    align-content: center;
}

.card {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 1em;
}

body {
    background-color: #A0E4CB;
    font-family: 'Nabla', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
footer {
    background-color: rgb(207, 20, 14);
}