#mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
}

body {
  background-image: url(http://nortories.github.io/wdd230/images/pexels-pixabay-220201.webp);
  background-color: #686868;
  background-size: cover;
  background-position: center; /* This centers the background image */
  background-repeat: no-repeat;
  font-family: "Nabla", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.node {
  position: absolute;
  z-index: -1;
}

body img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header img {
  box-shadow: #a5c9ff 0px 0px 20px 10px;
  max-width: 300px;
  max-height: 300px;
  border: #fff 2px solid;
}

h1 {
  font-size: 3em;
  text-shadow: #a5c9ff 0px 0px 30px;
  text-align: center;
  font-family: "Dela Gothic One", cursive;
}

nav {
  font-family: "Dela Gothic One", cursive;
  border-radius: 10px;
  box-shadow: #a5c9ff 0px 0px 20px 1px;
  margin: 0 auto;
  max-width: 800px;
  border: #fff 1px solid;
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

nav a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  margin-left: 5px;
}

nav a:active {
  background-color: #00a8cc;
  color: #fff;
  border-radius: 10px;
}

#menu {
  display: block;
  font-size: 2rem;
  padding: 0.5rem;
  margin-bottom: -0.5em;
}
#menu::before {
  content: "≡";
}
.navigation li {
  display: none;
}
.show li {
  display: block;
}
#menu.show::before {
  content: "❎";
}

nav a:hover {
  /* width: 50%; */
  background-color: #a5c9ff;
  color: #333333;
  /* text-align: center; */
  /* margi
    n-left: 25%; */
  /* padding: .75em; */
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  border: #fff 1px solid;
  border-radius: 10px;
}

main {
  margin: 0 auto;
  max-width: 800px;
  align-content: center;
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 10px solid rgba(0,0,0,.1);

}

picture{
  display: flex;
  justify-content: center;
  align-items: center;

  max-width:100%;
  align-content: center;
}

.herolabel {
	position: absolute;
  white-space: nowrap;
	top: 3%;
	right: 10%;
}

main h2 {
  position: relative;
  font-family: "Dela Gothic One", cursive;
  text-shadow: #ffffff 0px 0px 15px;
  margin-left: 1em;
}

.card {
  box-shadow: #a5c9ff 0px 0px 15px 1px;
  color: #333333;
  background-color: #333;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: #fff 1px solid;
}

.card h3 {
  font-family: "Dela Gothic One", cursive;
  margin-top: 0;
  padding-top: 1em;
  background-color: #bfbfbf;
  text-align: center;
  height: 3em;
  border-radius: 5px;
}

.card ul {
  list-style-type: none;
  margin: 0;
  background-color: #bfbfbf;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.dark-mode ul.show {
  list-style-type: none;
  margin: 0;
  background-color: #000000;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.card li {
  padding: 1em;
}

.card a {
  padding: 1em;
  white-space: nowrap;
  color: #000000;
  text-shadow: #ffffff 0px 0px 5px;
}

.card a:hover {
  background-color: #a5c9ff;
  color: #333333;
  /* text-align: center; */
  border: #fff 1px solid;
  /* border-radius: 10px; */
  margin-left: 10px;
  transition: all 0.25s ease-in-out;
  transform: scale(1.5);
  border: #fff 1px solid;
  border-radius: 10px;
}

.card a:active {
  background-color: #00a8cc;
  color: #fff;
  border-radius: 10px;
}

.dark-mode ul.show {
  background-color: #000000;
  color: #fff;
}
.dark-mode h3.show {
  background-color: #000000;
  color: #fff;
}
.weather {
  display: flex;
  justify-content: center;
}
#weather-container {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  padding-top: 0;
}
.weather-title {
  font-size: .75rem;
  margin-bottom: 0;
}

iframe{
  width: 100%;
  height: 25em;
}

footer {
  border-radius: 10px;
  margin-top: 10em;
  border: #fff 1px solid;
  text-align: center;
  width: 100%;
  background-color: #333;
  color: #fff;
}

footer p {
  color: #fff;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.record h2{
  font-family:Arial, Helvetica, sans-serif;
  background-color: #bfbfbf;
  padding: 1em;
  border-radius: 10px;
  margin-top: 1em;
}