/* Reset some default styles */
body,
h1,
h2,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
/* Set a background color for the entire page */
body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}
/* Style the header */
header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px;
}
nav {
  border-radius: 10px;
  box-shadow: #808080 0px 0px 20px 1px;
  margin: 0 auto;
  max-width: 800px;
  border: #fff 1px solid;
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

nav a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  margin-left: 5px;
}

nav a:hover {
  width: 50%;
  background-color: #808080;
  color: #fff;
  text-align: center;
  margin-left: 25%;
  border-radius: 10px;
}

nav a:active {
  background-color: #00a8cc;
  color: #fff;
  border-radius: 10px;
}
/* Style section headings */
h1,
h2 {
  color: #333;
}
/* Style individual sections */
section {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}
/* Style unordered and ordered lists */
ul,
ol {
  margin-left: 20px;
}
/* Style links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* color Boxes */
#ojBox {
  background-color: #ff5733;
  color: #f2f2f2;
}
#blueBox {
  background-color: #007bff;
  color: #f2f2f2;
}
#whiteBox {
  background-color: #f2f2f2;
  color: #808080;
}
