@media (min-width: 768px) {

    
    img {
        max-width: 400px;
        border: black 10px solid;
    }

    nav ul { 
    display: flex;
        justify-content: space-around;
    }

    nav ul li {
        flex: 1 1 100%;
        text-align: center;
    }

    .main-colimn {
        display: flex;
    }

    .card {
        flex: 1 1 100%;
        margin: 0.5em;
    }
}