@media (min-width: 768px) {

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        flex: 1 1 100%;
        text-align: center;
    }

    .main-colimn {
        display: flex;      
    }

    .card {
        background-color: #fff;
        flex: 1 1 100%;
        margin: 0.5em;
    }

    /* Your CSS rules go here */

    footer {
        background-color: rgb(207, 20, 14);
    }

    h1 {
        font-size: 5em;
    }
}